@import "../../scss/colors";
@import "../../scss/breakpoints.scss";

.btn {
  width: 100%;
  padding: 1rem 1.5rem;
  border: 3px solid $purple-high;
  border-radius: 4px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  color: white;
  font-size: 17px;
  line-height: 20px;

  &:hover {
    cursor: pointer;
    background: $purple-low;
  }
  &:active {
    background: $purple-high;
  }

  &.filter-btn {
    @include xs {
      width: 50%;
    }
    @include md {
      width: 40%;
    }
  }
}
