@import "../../scss/breakpoints.scss";

.home-app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url(assets/howards.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10vh;
  padding-left: 1rem;
  padding-right: 1rem;

  .hp-title-img {
    max-width: 100%;
    height: auto;
  }
  .select-filter-label {
    color: white;
    font-size: 2.25rem;
    margin-top: 1.5rem;
    text-align: center;
  }

  .filters-container {
    @include xs {
      max-width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    @include md {
      max-width: 60%;
    }
    .filter-btn:first-child {
      @include xs {
        margin-right: 0.5rem;
      }
      @include md {
        margin-right: 3rem;
      }
    }
    .filter-btn:nth-child(2n) {
      @include xs {
        margin-left: 0.5rem;
      }
      @include md {
        margin-left: 3rem;
      }
    }
  }

  .items-container {
    padding-top: 3rem;
    @include xs {
      max-width: 100%;
    }
    @include md {
      max-width: 80%;
    }
  }
}
